#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
  margin-right: -10px;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  background-color: red;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
}