{% extends 'doggy/base.html' %} {% load static %} {% block content %}
<br><br>
<div class="container">

    <div class="d-flex justify-content-around">
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.thesprucepets.com/thmb/uxtodNzCetlspluKJSF2-tUf8sI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/breed_profile_corgi_1117986_recirc_917-dc0372b7151c442bab53666b4687a8fd-e23753b78a4a480fa4e324f187c9e2f5.jpg"
                    alt="dog_image">
                <div class="card-body">
                    <h5 class="card-title">Pembroke Welsh Corgi</h5>
                    <p class="card-text">Corgis are known for being highly sociable dogs that love spending time with their families. They tend to be very affectionate and need lots of playtime.</p>
                    <a href="#" class="btn btn-dark">About Corgis</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.thesprucepets.com/thmb/6b5VlYo80wM2ZTaDqvGcr609h1M=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/breed_profile_labrador_1117977_recirc_2681-a556eabf98e44f81bd613fab04e7a8d0.jpg" alt="dog_image">
                <div class="card-body">
                    <h5 class="card-title">Labrador Retriever</h5>
                    <p class="card-text">With their warm eyes and cheerful grins, Labrador retrievers are the picture of friendliness. But they are high-energy dogs that need vigorous exercise</p>
                    <a href="#" class="btn btn-dark">About Labradors</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.thesprucepets.com/thmb/kkl_htyfS7Pr30YNShkyXzSlAFU=/1594x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/happy-pug-dog-looks-up-at-camera-178351969-c45ae4d384eb4704afccf2e721aec01a.jpg" alt="dog_image">
                <div class="card-body">
                    <h5 class="card-title">Pug</h5>
                    <p class="card-text">Pugs are little dogs with big personalities. They are social with strangers and other dogs. They were bred to be companions for the Chinese elite ruling class</p>
                    <a href="#" class="btn btn-dark">About Pugs</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}